.chatPage {
    display: flex;
    height: 100dvh;
    width: 100dvw;
    background: #1C1C1C;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 300px);
    height: 100%;
    color: #DFDFDF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}