.profile{
    display: flex;
    align-items: center;
    gap: 1dvw;
    padding: 5px;
    border-bottom: 7px #1C1C1C solid;
    cursor: pointer;
}

.logo{
    margin-left: 1dvw;
    width: 3.5dvw;
}


.icon{
    width: 1.5dvw;
}

p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
