.chatList {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    background-color: #2E2E2E;
    height: 100dvh;
    width: 300px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    height: 10dvh;
    margin-left: 8px;
}

.chatItem {
    width: 100%;
    height: 100%;
    padding: 5px;
    cursor: pointer;
}


.chatItem.selected {
    background: linear-gradient(95deg, #B64DA5 0%, #903ABA 70%);
    color: #FFF;
}

.input {
    align-self: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #FFF;
    outline: 0;
    border: 0;
    border-radius: 0px;
    background: #9B00E7;
    height: 100dvh;
    width: 300px;
    cursor: pointer;
    border-bottom: 7px #1C1C1C solid;
}

.chatName {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chatLastMessage {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chatList::-webkit-scrollbar {
    display: none;
}