.loginBox{
    text-align: center;
    display: flex;
    width: 30dvw;
    height: 88dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    background-color: #1C1C1C;;
    color: #FAFAFA;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

.logo{
    max-width: 20dvh;
    max-height: 20dvh;
    margin-top: 4dvh;
}

.logo:hover {
    filter: drop-shadow(0 0 1em #9B00E7);
}

.underLogin{
    margin: 0.5dvh 3dvw 7dvh;
    text-wrap: normal;
    color: #828282;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.underSubmit{
    margin: 2dvh 0 0 4dvh;
    color: #828282;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login {
    margin-top: 2dvh;
    margin-bottom: 1dvh;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginInput::placeholder { 
    font-family: Inter, serif;
    font-size: 12px;
    opacity: 1;
    color: #BDBDBD;
}
  
.loginInput:-ms-input-placeholder { 
    font-family: Inter, serif;
    color: #BDBDBD;
}
  
.loginInput::-ms-input-placeholder { 
    font-family: Inter, serif;
    color: #BDBDBD;
}

.body{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-attachment: fixed;
    background-image: url('1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100dvh;
    width: 100dvw;
}

input[name]{
    border: 0;
    border-radius: 4px;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #DDD;
    width: 20dvw;
    margin-bottom: 2dvh;
    flex-shrink: 0;
    flex: 5dvh;
}

input[type="submit"]{
    font-family: Inter, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    color: #FFF;
    background-color: #9B00E7;
    border-radius: 6px;
    stroke-width: 1px;
    stroke: #DDD;
    flex-shrink: 0;
    flex: 6dvh;
    cursor: pointer;
    margin-top: 2dvh;
}

input[type="submit"]:hover{
    filter: drop-shadow(0 0 1dvh #9B00E7);
}

.label{
    margin-bottom: 2dvh;
    color: #FAFAFA;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: flex-start;
    flex: 1dvh;
}

html,
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
