html,
body {
    margin: 0;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-attachment: fixed;
    background: url('back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100dvh;
    width: 100dvw;
}

.box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    background-color: rgba(20, 20, 20, 0.95);
    color: #FAFAFA;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

.logo {
    margin-top: 4dvh;
}

.logo:hover {
    filter: drop-shadow(0 0 1em #9B00E7);
}

.underLogin {
    text-wrap: normal;
    color: #828282;
    font-family: Inter;
}

.underSubmit {
    align-self: center;
    justify-self: center;
    margin: 2dvh;
    color: #828282;
}

.login {
    margin-top: 2dvh;
    margin-bottom: 1dvh;
    font-family: Inter;
    font-weight: 500;
}

input {
    outline: 0;
}

.inputs::placeholder {
    font-family: Inter, serif;
    font-size: 12px;
    opacity: 1;
    color: #BDBDBD;
}

.inputs:-ms-input-placeholder {
    font-family: Inter, serif;
    color: #BDBDBD;
}

.inputs::-ms-input-placeholder {
    font-family: Inter, serif;
    color: #BDBDBD;
}


.inputs {
    border: 0;
    border-radius: 4px;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #DDD;
    width: 20dvw;
    margin-bottom: 2dvh;
    flex: 5dvh;
}

.fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fields input[type="submit"] {
    font-family: Inter, serif;
    font-weight: 500;
    text-align: center;
    color: #FFF;
    stroke: #DDD;
    background-color: #9B00E7;
    border-radius: 6px;
    stroke-width: 1px;
    border: 0;
    outline: 0;
    height: 6dvh;
    cursor: pointer;
    margin-top: 2dvh;
}

.fields input[type="submit"]:hover {
    filter: drop-shadow(0 0 1dvh #9B00E7);
}

.label {
    margin-bottom: 2dvh;
    color: #FAFAFA;
    font-size: 12px;
    align-self: flex-start;
    flex: 1dvh;
}

.link{
    color:#9B00E7;
}
@media (max-width: 981px) and (max-height: 899px) {

    /* планшеты */
    .box {
        width: 40dvw;
        height: 86dvh;
    }

    .login {
        font-size: 40px;
    }

    .underLogin {
        font-size: 14px;
        margin: 0.5dvh 3dvw 7dvh;
    }

    .logo {
        width: 20dvh;
        margin-top: 4dvh;
    }

    .label {
        font-size: 14px;
    }

    .inputs {
        border-radius: 10px;
        width: 30dvw;
    }

    .inputs::placeholder {
        font-size: 14px;
    }

    .fields input[type="submit"] {
        font-size: 18px;
        border-radius: 10px;
        height: 6dvh;
    }

    .underSubmit {
        font-size: 14px;
    }
}

@media (max-width: 980px) and (min-height: 900px) {

    /* мобилки */
    .box {
        width: 65dvw;
        height: 78dvh;
    }

    .login {
        font-size: 52px;
    }

    .underLogin {
        font-size: 24px;
        margin: 0 4.8dvw 5dvh 4.8dvw;
    }

    .logo {
        width: 15dvh;
        margin-top: 4dvh;
    }

    .label {
        font-size: 26px;
    }

    .inputs {
        border-radius: 20px;
        width: 40dvw;
    }

    .inputs::placeholder {
        font-size: 22px
    }

    .fields input[type="submit"] {
        font-size: 28px;
        border-radius: 20px;
        height: 5dvh;
    }

    .underSubmit {
        font-size: 24px;
        margin: 2dvh 12dvw 0 12dvw;
    }
}

@media (min-width: 981px) and (max-width: 1439px) {

    /* планшеты и обычные экраны */
    .box {
        width: 38dvw;
        height: 86dvh;
    }

    .login {
        font-size: 48px;
    }

    .underLogin {
        margin: 0.5dvh 3dvw 7dvh 3dvw;
        font-size: 12px;
    }

    .logo {
        width: 20dvh;
        margin-top: 4dvh;
    }

    .label {
        font-size: 12px;
    }

    .inputs {
        border-radius: 10px;
        width: 28dvw;
    }

    .inputs::placeholder {
        font-size: 12px
    }

    .fields input[type="submit"] {
        font-size: 20px;
        border-radius: 12px;
        height: 6dvh;
    }

    .underSubmit {
        font-size: 12px;
    }
}

@media (min-width: 1440px) and (max-width: 2559px) {

    /* широкие экраны с high res*/
    .box {
        width: 30dvw;
        height: 88dvh;
    }

    .login {
        font-size: 52px;
    }

    .underLogin {
        font-size: 14px;
        margin: 0.5dvh 3dvw 7dvh;
    }

    .logo {
        height: 15dvh;
    }

    .inputs {
        width: 22dvw;
    }

    .underSubmit {
        font-size: 12px;
    }
}

@media (min-width: 2560px) {
    .box {
        height: 80dvh;
        width: 30dvw;
    }

    .login {
        font-size: 58px;
    }

    .underLogin {
        font-size: 28px;
        margin: 0.5dvh 4dvw 7dvh 4dvw;
    }

    .logo {
        height: 15dvh;
    }

    .label {
        font-size: 22px;
    }

    .inputs {
        border-radius: 14px;
    }

    .inputs::placeholder {
        font-size: 20px;
    }

    .fields input[type='submit'] {
        font-size: 28px;
        height: 5dvh;
        border-radius: 14px;
    }

    .underSubmit {
        font-size: 24px;
    }
}