.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.full {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1C1C1C;
    width: 500px;
    height: 500px;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    z-index: 3;
}

.inputs {
    display: flex;
    gap: 3dvw;
}

.input{
    border-radius: 12px;
    background: #9B00E7;
    font-family: Inter;
    height: 5dvh;
    width: 10dvw;
}

.textInput {
    background: #2E2E2E;
    color: white;
    width: 4dvw;
    border-radius: 4px;
}

.textProfile {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.changeBackground {
    display: flex;
    justify-content: space-between;
    gap: 2dvw;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff0000;
}